<% provide(:title, "Forgot password") %>
<body class="main">
  <h1 class="subtitle">Forgot password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email ,class: 'color'%>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "Submit", class: "btn btn-primary btntextsize" %>
    <% end %>
  </div>
</div>
</body>
