
<li id="dmessage-<%= dmessage.id %>">
  <% user = dmessage.user %>
  <% class_suffix = current_user?(user) ? 'right' : 'left' %>
  <%= link_to gravatar_for(user, size: 50, additional_class: "gravatar-#{class_suffix}"), user %>
  <div class="balloon balloon-<%= class_suffix %>">
    <% unless current_user?(user) %>
      <span class="user"><%= link_to user.name, user %></span>
    <% end %>
    <span class="content"><%= dmessage.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(dmessage.created_at) %> ago.
      <% if current_user?(user) %>
        <%= link_to "delete", dmessage_path(dmessage),
                              class: "delete",
                              method: :delete,
                              data: { confirm: "本当に削除しますか？" } %>
      <% end %>
    </span>
  </div>
</li>