<li id="talk-<%=talk.id%>" class="ulbackcolor">
  <% dmessage = talk.latest_message %>
  <% membership = talk.memberships.find_by(user: current_user) %>
  <%= gravatar_for(dmessage.nil? ? talk.memberships.first.user : dmessage.user, size: 50) %>
  <%= link_to 'leave', membership_path(membership),
                                    class: "delete",
                                    method: :delete,
                                    data: { confirm: "トークルームを削除します。よろしいですか？" } %>
  <%= link_to(talk) do %>
    <span class="title" id=dmessagetitle><%= talk.title(current_user, 50) %></span>
    <span class="content"><%= dmessage.content unless dmessage.nil? %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(talk.updated_at) %> ago.
    </span>
  <% end %>
</li>