<% provide(:title, @title) %>
<body class="main">
<h1 class="subtitle"><%= @title %></h1>
<div class="row">
  <div class="search_form">
    <%= render 'users/search_form' %>
  </div>
</div>

<%= will_paginate %>

<% unless @users.empty? %>
  <ul class="users ulbackcolor">
    <%= render @users %>
  </ul>
<% else %>
  <h2 class="color">ユーザーが見つかりませんでした。<br>
    お探しのユーザー名をご確認ください。</h2>
<% end %>

<%= will_paginate %>
</body>