<% provide(:title, 'Create my account') %>
<% provide(:button_text, 'Create') %>
<body class="main">
<h1 class="subtitle">Create my account</h1>
<div class="row">
    <%= javascript_include_tag('anime.js') %>
    <div class="col-md-3 animeleft">
      <p class="ml15">
      <span class="word">Welcome!!</span>
      </br>
      <span class="word">Word</span>
      </br>
      <span class="word">Soocer</span>
      </br>
      <span class="word">Communite</span>
      </p>
    </div>
  <div class="col-md-6">
    <%= render 'users/form' %>
  </div>
</div>
</body>