<%= search_form_for @q, url: @url do |f| %>
  <%= f.label :content_cont, '  Tweet Search' ,class: 'color'%>
  <div class="input-group">
    <%= f.text_field :content_cont, placeholder: "Enter keyword...",
                      class: 'form-control' %>
    <span class="input-group-btn">
     <%= f.submit 'Go', class: "btn btn-primary btntextsize" %>
    </span>
  </div>
<% end %>