<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1 class = "color"><%= current_user.name %></h1>
<span><%= link_to "view my account", current_user ,class:"linkcolor"%></span>
<span class = "color"><%= pluralize(current_user.microposts.count, "tweet") %></span>