  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//unpkg.com/swiper/css/swiper.min.css">
    <script src="//unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'load' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'load' %>
    <%= render 'layouts/shim' %>
  </head>